<div class="orders-container">


  <div class="table-wrapper">
    <div class="features-bar">
      <input> Szukaj

      <button>DZIŚ</button>
      <button>WCZORAJ</button>

      <label for="start">Start date:</label>
      <input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">

       <label for="start">Stop date:</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">
    </div>
<table class="table-class">
  <thead>


    <tr>
      <th>Nr. zamowienia</th>
      <th>Data zamowienia</th>
      <th>Kontrahent</th>
      <th>Wartość</th>
      <th>Status</th>
    </tr>
  </thead>
  <tr>
    <td>1</td>
    <td>SKLEP 1</td>
    <td>18-03-2022</td>
    <td>123.23</td>
    <td>Produkcja</td>
    <td><button>Szczegóły</button></td>
  </tr>
  <tr>
    <td>1</td>
    <td>SKLEP 1</td>
    <td>18-03-2022</td>
    <td>123.23</td>
    <td>Produkcja</td>
    <td><button>Szczegóły</button></td>
  </tr>
  <tr>
    <td>1</td>
    <td>SKLEP 1</td>
    <td>18-03-2022</td>
    <td>123.23</td>
    <td>Produkcja</td>
    <td><button>Szczegóły</button></td>
  </tr>

</table>

</div>
</div>
