<div class="orders-container">


  <div class="table-wrapper">
    <div class="features-bar">
      <input class="form-control" type="text" name="contractorSearch" [(ngModel)]="contractorSearchName"  (ngModelChange)="searchContractor()"
      placeholder="Kontrahent"> Szukaj

      <button>DZIŚ</button>
      <button>WCZORAJ</button>

      <label for="start">Start date:</label>
      <input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">

       <label for="start">Stop date:</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">
    </div>
<table class="table-class">
  <thead>
    <tr>
      <th *ngFor="let column of columnsName" (click)="sortBy('item')">
        {{column}}<i class="fa fa-sort"></i>
      </th>

    </tr>
  </thead>
  <tr *ngFor="let order of orderList | orderBy: key: reverse">
    <td>{{order.order_id}}</td>
    <td>{{order.order_date}}</td>
    <td>{{order.order_ondate}}</td>
    <td>{{order.contractor}}</td>
    <td>{{order.ammountPaid}}</td>
    <td>{{order.status}}</td>
    <td><button>Szczegóły</button></td>
  </tr>


</table>

</div>
</div>
